<table *ngFor="let scrum_user of scrum_users" class="table">
    <thead>
        <h3><strong>{{ scrum_user['user']['nickname'] }}</strong></h3>
        <tr>
            <th scope="col">Tasks for the week</th>
            <th scope="col">Tasks for the day</th>
            <th scope="col">Verify</th>
            <th scope="col">Done</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td cdkDropList #task_for_the_week="cdkDropList" [cdkDropListData]="tftw" [cdkDropListConnectedTo]="[task_for_the_day, task_verify]" (cdkDropListDropped)="drop($event)">
                <div *ngFor="let goal of tftw"[cdkDragData]="goal" cdkDrag >
                    <div *ngIf="goal['user'] == scrum_user['id']">
                        {{ goal['name'] }} <br>
                        {{ goal['id'] }}
                    </div>
                </div>
            </td>
            <td cdkDropList #task_for_the_day="cdkDropList" [cdkDropListData]="tftd" [cdkDropListConnectedTo]="[task_verify, task_for_the_week]" (cdkDropListDropped)="drop($event)">
                <div *ngFor="let goal of tftd"[cdkDragData]="goal" cdkDrag >
                    <div *ngIf="goal['user'] == scrum_user['id']">
                        {{ goal['name'] }} <br>
                        {{ goal['id'] }}
                    </div>
                </div>
            </td>
            <td cdkDropList #task_verify="cdkDropList" [cdkDropListData]="verify" [cdkDropListConnectedTo]="[task_for_the_day, task_done]" (cdkDropListDropped)="drop($event)">
                <div *ngFor="let goal of verify" cdkDrag [cdkDragData]="goal">
                    <div *ngIf="goal['user'] == scrum_user['id']">
                        {{ goal['name'] }} <br>
                        {{ goal['id'] }}
                    </div>
                </div>
            </td>
            <td cdkDropList #task_done="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[task_verify]" (cdkDropListDropped)="drop($event)">
                <div *ngFor="let goal of done" cdkDrag [cdkDragData]="goal">
                    <div *ngIf="goal['user'] == scrum_user['id']">
                        {{ goal['name'] }} <br>
                        {{ goal['id'] }}
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>